---
title: Xsemantics
---

<section>
   <div class="container">

      {% capture intro %}{% include index/intro.md %}{% endcapture %}
      {{ intro | markdownify }}
   
   </div>
   <br>
   <br>

<div class="col-md-12 highlight-img hidden-xs hidden-sm">  <img class="img-responsive" src="images/xsemantics.png"> </a> </div>
</section>

<div class="col-md-12 highlight-img hidden-xs hidden-sm container">
   <section class="highlight ">
      <div class="container">
         <div>
            <div class="col-md-15 highlight-content">

            {% capture features %}{% include index/features.md %}{% endcapture %}
            {{ features | markdownify }}
            
            </div>
         </div>
      </div>
   </section>
</div>

<div class="step-by-step">
   <div class="container">
      <div class="row intro">
         <div class="col-xs-24">

            {% capture main %}{% include index/main.md %}{% endcapture %}
            {{ main | markdownify }}

         </div>
      </div>
   </div>
</div>

<div class="container">
   <div class="timeline">
      <div class="row">
         
         <div class="col-md-6">
            <h1 class="fw-600">Installation</h1>
            <p>Visit the Downloads page and get started with Xsemantics</p>
            <p><a class="btn btn-warning" href="download/">Download</a></p>
         </div>
         
         <div class="col-md-6 gs-item">
            <h1>Source</h1>
            <p>The source of Xsemantics can be viewed on GitHub. Feel free to make contributions by forking the repository and creating a pull request.</p>
            <p><a class="btn btn-warning" href="https://github.com/LorenzoBettini/xsemantics"><i class="fa fa-github"></i> Fork on GitHub</a></p>
         </div>

         
         <div class="col-md-6 gs-item">
            <h1>Community</h1>
            <p>Get involved with the Xsemantics project using the following resources</p>
            <ul>
               <li>Get the latest news in the developer <a href="https://dev.eclipse.org/mailman/listinfo/xsemantics-dev">Mailing List</a></li>
               <li>Join the discussion in the Eclipse <a href="https://www.eclipse.org/forums/index.php/f/380/">Xsemantics Forum</a></li>      
            </ul>
         </div>

         <div class="col-md-6 gs-item">
            <h1>Support</h1>
            <p>As with all projects, there are always bugs and reporting such issues helps with the development of the project.</p>
            <ul>
               <li>Open an issue at the Xsemantics <a href="https://github.com/LorenzoBettini/xsemantics/issues">GitHub Issues</a></li>
               <li>For comprehensive overview of all features of Xsemantics, please see the <a href="http://xsemantics.sourceforge.net/xsemantics-documentation/">Documentation</a></li>
            </ul>
         </div>
      
      </div>
   </div>
</div>