<script> var eclipse_org_common = {"settings":{"cookies_class":{"name":"eclipse_settings","enabled":1}}}</script>  </head>
<body id="body_solstice">
   <a class="sr-only" href="#content">Skip to main content</a>
   <header role="banner" id="header-wrapper">
      <div class="container">
         <div class="row" id="header-row">
            <div class="hidden-xs col-sm-8 col-md-6 col-lg-5" id="header-left">
               <div class="wrapper-logo-default"><a href="https://www.eclipse.org/"><img class="logo-eclipse-default img-responsive hidden-xs" alt="logo" src="//www.eclipse.org/eclipse.org-common/themes/solstice/public/images/logo/eclipse-426x100.png"/></a></div>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-5 hidden-print hidden-xs pull-right" id="header-right">
               <div class="row">
                  <div class="col-md-24">
                     <div id="custom-search-form" class="reset-box-sizing">
                        <script>
                           (function() {
                             var cx = '011805775785170369411:p3ec0igo0qq';
                             var gcse = document.createElement('script');
                             gcse.type = 'text/javascript';
                             gcse.async = true;
                             gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                             '//cse.google.com/cse.js?cx=' + cx;
                             var s = document.getElementsByTagName('script')[0];
                             s.parentNode.insertBefore(gcse, s);
                           })();
                        </script>
                        <gcse:searchbox-only gname="main" resultsUrl="https://www.eclipse.org/home/search.php"></gcse:searchbox-only>
                     </div>
                  </div>
               </div>
            </div>
            
                  <div class="navbar-header">
   
                     <div class="wrapper-logo-mobile"><a class="navbar-brand visible-xs" href="https://www.eclipse.org/"><img class="logo-eclipse-default-mobile img-responsive" alt="logo" src="//www.eclipse.org/eclipse.org-common/themes/solstice/public/images/logo/eclipse-800x188.png"/></a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>